{% extends 'base.html' %}
{% block content %}

<h1>Car Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ car.make }}</span>
        <p>Model: {{ car.model }}</p>
        <p>Description: {{ car.description }}</p>
        {% if car.age > 0 %}
          <p>Year: {{ car.year }}</p>
        {% else %}
          <p>Year: Used</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'cars_update' car.id %}">Edit</a>
        <a href="{% url 'cars_delete' car.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form method="post">
        {% csrf_token %}
        {{ fueling_form.as_p }}
        <input type="submit" class="btn" value="Add Fueling">
      </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Gas</th></tr>
      </thead>
      <tbody>
        {% for fueling in car.fueling_set.all %}
          <tr>
            <td>{{fueling.date}}</td>
            <td>{{fueling.get_gallons_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
<div class="row">
  <div class="col s6">
    <h3>{{ car.model }}'s Drivers</h3>
    {% if car.driverss.count %}
      {% for driver in car.drivers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="skill: {{ driver.skill }}">{{ driver.skill }}</span> {{ driver.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Drivers :(</h5>
    {% endif %}
  </div>
  <!-- Available drivers will come after this line -->
  <div class="col s6">
    <h3>Available Drivers</h3>
    {% if drivers.count %}
      {% for driver in drivers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="skill: {{ driver.skill }}">{{ driver.skill }}</span> {{ driver.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_driver' car.id driver.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{car.name}} Already Has All Drivers Available</h5>
    {% endif %}
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // add additional JS to initialize select below
  var selectEl = document.getElementById('id_gallons');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}